[balancing]
# The alpha parameter used for the low pass filter over the gyroscope values.
#
# Higher values mean that the filtered gyroscope value responds to changes quicker,
# and lower values mean that it responds slower.
gyro_lpf_alpha = 0.6

# The weight of the balance adjustment based on the y gyroscope value.
# Increasing this value will use a larger portion of the filtered gyro value
# to adjust the pitch of the robot's ankles, in order to balance the pendulum motion.
filtered_gyro_y_multiplier = 0.1
