# The maximum age of a classified ball in milliseconds, before the eye color is reset.
max_classification_age_eye_color = 100

[proposal.top]
# The minimum ratio of white pixels in the range around the proposed ball
ball_ratio = 0.35

# The ratio of green pixels in the patch below the ball.
grass_ratio = 0.7

# Height/width of the bounding box around the ball
bounding_box_scale = 80.0

# The minimum overlap ratio between for bounding boxes to be merged using non-maximum suppression
nms_threshold = 0.3

# The minimum radius of the ball in pixels.
min_ball_radius = 10.0

# The maximum area of intersection between a detected robot and a ball in pixels.
# If the area of intersection is larger than this value, the proposal is discarded.
max_robot_intersection = 0.0

# Maximum allowed error factor on the computed ball radius.
ball_radius_max_error = 1.5

# Y offset from the ball center from where the patch below the ball is checked for grass, as a factor of the ball radius.
grass_patch_y_offset_factor = 0.5

# Radius of the patch below the ball that is checked for grass, as a factor of the ball radius.
grass_patch_radius_factor = 1.5

# Padding factor applied to final proposal box sizes to account for camera calibration error.
bbox_padding_factor = 1.1

[proposal.bottom]
# The minimum ratio of white pixels in the range around the proposed ball
ball_ratio = 0.35

# The ratio of green pixels in the patch below the ball.
grass_ratio = 0.1

# Height/width of the bounding box around the ball
bounding_box_scale = 30.0

# The minimum overlap ratio between for bounding boxes to be merged using non-maximum suppression
nms_threshold = 0.3

# The minimum radius of the ball in pixels.
min_ball_radius = 12.0

# The maximum area of intersection between a detected robot and a ball in pixels.
# If the area of intersection is larger than this value, the proposal is discarded.
max_robot_intersection = 0.0

# Maximum allowed error factor on the computed ball radius.
ball_radius_max_error = 1.5

# Y offset from the ball center from where the patch below the ball is checked for grass, as a factor of the ball radius.
grass_patch_y_offset_factor = 0.5

# Radius of the patch below the ball that is checked for grass, as a factor of the ball radius.
grass_patch_radius_factor = 1.5

# Padding factor applied to final proposal box sizes to account for camera calibration error.
bbox_padding_factor = 1.1

[classifier]
# The threshold for the classifier to consider a proposal a ball
confidence_threshold = 0.97

# The amount of time in microseconds we allow the classifier to run, proposals that take longer are discarded.
time_budget = 1500

[hypothesis]
# Maximum amount of ball hypotheses tracked at the same time
max_concurrent_hypotheses = 8

# Minimum speed to be considered as still moving
min_moving_speed = 0.05

# Minimum amount of observations before a moving ball can be demoted to stationary for losing speed
min_demotion_observations = 5

# Speed loss in m/s
linear_velocity_decay = 0.1

# Speed loss in percentage/s
exponential_velocity_decay = 0.15

# Maximum mahalanobis distance to associate a measurement to a hypothesis
max_mahalonobis_association_distance = 3.0

# Maximum euclidean distance to associate a measurement to a hypothesis
max_euclidean_association_distance = 2.0

# Maximum speed difference for merging moving ball hypotheses in m/s
max_merge_speed_difference = 0.1

# Maximum angle difference for merging moving ball hypotheses in radians
max_merge_angle_difference = 0.2

# Uncertainty in meters for despawning a ball hypothesis
despawn_uncertainty = 1.0

# Process noise for moving ball model
moving_process_noise = [0.005, 0.005, 0.05, 0.05]

# Ball position measurement noise
measurement_noise = [0.1, 0.1]

# Initial covariance for new ball hypotheses
initial_covariance = [1.0, 1.0, 50.0, 50.0]
