[proposal]
# Maximum gap between black pixels to be considered a new segment
white_ratio = 0.2
# Maximum distance between two clusters to be considered the same cluster
bounding_box_scale = 64.0
# Height/width of the bounding box around the ball
cluster_max_distance = 64.0
# Ratio of white pixels in the local area around a point to be considered a ball
black_segment_max_gap = 3
