[camera.top]
# The path to the camera device.
path = "/dev/video-top"
# The requested width of the image.
width = 640
# The requested height of the image.
height = 480
# This variable specifies how many images from the top camera can be alive at the same time.
# It is recommended to have at least one more buffer than is required. This way, the next frame
# from the camera can already be stored in a buffer, reducing the latency between destructing a
# `TopImage` and being able to fetch the newest `TopImage`.
num_buffers = 3
# Whether the image should be flipped horizontally.
flip_horizontally = true
# Whether the image should be flipped vertically.
flip_vertically = true

[camera.top.calibration]
# The extrinsic rotation for the camera in degrees, euler angles.
extrinsic_rotation = [0.04, -3.001, 1.3]
# The normalized focal length for the x and y dimension
# normalized means that it's the ratio of the image dimensions.
# to get it in pixels, multiply it by the image dimensions.
focal_lengths = [0.95, 1.27]
# The normalized optical center of the camera sensor, to get
# it in pixels multiply it by the image dimensions.
cc_optical_center = [0.5, 0.5]

[camera.bottom]
# The path to the camera device.
path = "/dev/video-bottom"
# The requested width of the image.
width = 640
# The requested height of the image.
height = 480
# This variable specifies how many images from the bottom camera can be alive at the same time.
# It is recommended to have at least one more buffer than is required. This way, the next frame
# from the camera can already be stored in a buffer, reducing the latency between destructing a
# `BottomImage` and being able to fetch the newest `BottomImage`.
num_buffers = 3
# Whether the image should be flipped horizontally.
flip_horizontally = false
# Whether the image should be flipped vertically.
flip_vertically = false

[camera.bottom.calibration]
# The extrinsic rotation for the camera in degrees, euler angles.
extrinsic_rotation = [0.04, -3.001, 1.3]
# The normalized focal length for the x and y dimension
# normalized means that it's the ratio of the image dimensions.
# to get it in pixels, multiply it by the image dimensions.
focal_lengths = [0.95, 1.27]
# The normalized optical center of the camera sensor, to get
# it in pixels multiply it by the image dimensions.
cc_optical_center = [0.5, 0.5]
