# The base amount of time (in milliseconds) for one step.
base_step_duration = 225

# Duration modifiers (in seconds) for a single step.
# Modifies `base_step_duration` by adding (modifier * movement factor) seconds per step.
step_duration_modifier = { forward = 0.1, left = 0.08, turn = 0.0 }

# The amount of time (in milliseconds) for the starting step.
starting_step_duration = 200

# The amount of time (in milliseconds) for the stopping step.
stopping_step_duration = 250

# The minimum normalized duration a step must reach before allowing a foot switch.
#
# This value is normalized relative to the planned step duration. For example,
# a value of `0.75` means the current step duration must be at least 75% of the
# planned step duration before a foot switch can occur.
minimum_step_duration_ratio = 0.75

# The offset of the torso w.r.t. the hips in meters.
#
# Higher values will result in the robot leaning forward while walking.
# Negative values will make the robot lean backwards while walking.
torso_offset = 0.01

# The stiffness value used for the leg joints while walking, higher means the robot's joints will
# wear out faster, but the robot will be more stable.
walking_leg_stiffness = 0.8

# The stiffness value used for the leg joints whilst the robot is standing
# higher means the robot's joints will wear out faster, but the robot will be more stable.
standing_leg_stiffness = 0.8

# The stiffness value used for the leg joints while sitting, higher means the robot's joints will
# wear out faster, but the robot will be more stable.
#
# Negative values will turn the motors off completely, sacrificing all stability.
sitting_leg_stiffness = 0.0

# The amount of time (in milliseconds) of no change in hip height
# for the robot to be considered stable when sitting down.
stable_sitting_timeout = 1250

# The stiffness value used for the arm joints, higher means the robot's joints will
# wear out faster, but the robot will be more stable.
arm_stiffness = 0.6

# The base amount to lift the feet in swing phase, in metres.
# The foot lift is increased slightly, based on the forward and left in the command.
base_foot_lift = 0.005

# The multiplier for each component of a step command to adjust the foot lift.
# These values are multiplied by their respective component of the step command
# and added to the base foot lift.
foot_lift_modifier = { forward = 0.11, left = 0.12, turn = 0.025 }

# The amount to lift the swing foot during the starting step.
starting_foot_lift = 0.0045

# The amount to lift the swing foot during the stopping step.
stopping_foot_lift = 0.01

# The maximum acceleration per step.
#
# E.g. the difference between the current and the last step is clamped to
# -max_acceleration and max_acceleration.
max_acceleration = { forward = 0.01, left = 0.03, turn = 0.3 }

# The step size is clipped to this value; in both directions (e.g. range for forward is -max_step_size to max_step_size).
max_step_size = { forward = 0.055, left = 0.08, turn = 0.7 }


[hip_height]
# The height of the robot's hips relative to the ground, in metres.
walking_hip_height = 0.22

# The maximum distance from the hips to the ground in meters
# for the robot to be considered as sitting.
#
# This is NOT the actual hip height of the robot when sitting, that is determined automatically.
max_sitting_hip_height = 0.145

# Threshold for snapping to the requested hip height.
reached_requested_threshold = 0.001

# Smoothing parameter for the exponential interpolation applied to the hip height.
height_adjustment_smoothing = 0.075

# Threshold between two hip height values, when exceeded the values are considered different.
change_threshold = 0.003

# This section contains parameters for the balance control
[balancing]
# The amount to swing the arms based on the forward movement.
arm_swing_multiplier = 0.6

# The alpha parameter used for the low pass filter over the gyroscope values.
#
# Higher values mean that the filtered gyroscope value responds to changes quicker,
# and lower values mean that it responds slower.
gyro_lpf_alpha = 0.6

# The weight of the balance adjustment based on the y gyroscope value.
# Increasing this value will use a larger portion of the filtered gyro value
# to adjust the pitch of the robot's ankles, in order to balance the pendulum motion.
filtered_gyro_y_multiplier = 0.08

# Configuration parameters for controlling foot leveling behavior during locomotion.
#
# This struct contains parameters that control how the robot's feet are leveled
# during the swing and stance phases of walking or running gaits.
[balancing.foot_leveling]
# Phase shift for foot leveling drop-off.
#
# Higher values mean the swing foot is leveled for longer.
phase_shift = 0.6

# Decay rate for the foot leveling logistic filter.
decay = 15.0

# Maximum allowed difference in leveling between steps.
#
# Limits how much the foot leveling can change from one step to the next.
max_level_delta = 0.122173

# Scaling factor for pitch leveling adjustments.
#
# Controls the intensity of foot leveling in the pitch direction.
pitch_level_scale = 0.0872665

# Multiplier for positive pitch corrections.
#
# Adjusts the strength of leveling when the foot needs to pitch upward.
pitch_positive_level_factor = 0.75

# Multiplier for negative pitch corrections.
#
# Adjusts the strength of leveling when the foot needs to pitch downward.
pitch_negative_level_factor = 0.5

# Scaling factor for roll leveling adjustments.
#
# Controls the intensity of foot leveling in the roll direction.
roll_level_scale = 0.0872665

# Multiplier for roll corrections.
#
# Adjusts the strength of leveling for roll adjustments in either direction.
roll_level_factor = 0.8

# This section contains parameters for the foot support while walking.
[foot_support]
# The maximum (normalized) pressure on the current support foot, before predicting a foot switch.
predict_support_max_pressure = 0.36
# The minimum (normalized) pressure on the current swing foot, before predicting a foot switch.
predict_swing_min_pressure = 0.1
# The number of cycles to look in the future when predicting a support foot switch.
predict_num_cycles = 3.0

# The weights for the normalized FSR values, as contact with outer part of the foot is more important
# when deciding which foot is used as support foot.
[foot_support.weights]
left_foot = { front_left = 0.8, front_right = 0.3, rear_left = 0.8, rear_right = 0.3 }
right_foot = { front_left = -0.8, front_right = -0.3, rear_left = -0.8, rear_right = -0.3 }
