# The base amount of time (in milliseconds) for one step.
base_step_duration = 250
# Duration modifiers (in seconds) for a single step.
# Modifies `base_step_duration` by adding (modifier * movement factor) seconds per step.
step_duration_modifier = { forward = 0.1, left= 0.03, turn= 0.0}

# The stiffness value used for the leg joints, higher means the robot's joints will
# wear out faster, but the robot will be more stable.
leg_stiffness = 0.8

# The stiffness value used for the arm joints, higher means the robot's joints will
# wear out faster, but the robot will be more stable.
arm_stiffness = 0.6

# The center of pressure threshold for switching support foot
cop_pressure_threshold = 0.6

# The base amount to lift the feet in swing phase, in metres.
# The foot lift is increased slightly, based on the forward and left in the command.
base_foot_lift = 0.008

# The multiplier for each component of a step command to adjust the foot lift.
# These values are multiplied by their respective component of the step command
# and added to the base foot lift.
foot_lift_modifier = { forward = 0.11, left = 0.12, turn = 0.025 }

# The step size is clipped to this value; in both directions (e.g. range for forward is -max_step_size to max_step_size).
max_step_size = { forward = 0.08, left = 0.08, turn = 3.14 }

# The height of the robot's hips relative to the ground, in metres.
hip_height = 0.22

# The maximum distance from the hips to the ground in meters
# for the robot to be considered as sitting.
#
# This is NOT the actual hip height of the robot when sitting, that is determined automatically.
max_sitting_hip_height = 0.145

# This section contains parameters for the balance control
[balancing]
# The arm swing multiplier, this is used to adjust the amount of arm swing
# based on the forward walk command.
# The shoulder pitch value is "approximated" is computed by multiplying the
# forward walk command by this value.
arm_swing_multiplier = 0.6

# The multiplier for the filtered gyro y value
# Increasing this value will use a larger portion of the filtered gyro value
# to adjust the pitch of the robot's ankles
filtered_gyro_y_multiplier = 0.2

# This section contains parameters for the foot support while walking.
[foot_support]
# The maximum (normalized) pressure on the current support foot, before predicting a foot switch.
predict_support_max_pressure = 0.36
# The minimum (normalized) pressure on the current swing foot, before predicting a foot switch.
predict_swing_min_pressure = 0.1
# The number of cycles to look in the future when predicting a support foot switch.
predict_num_cycles = 3.0

# The weights for the normalized FSR values, as contact with outer part of the foot is more important
# when deciding which foot is used as support foot.
[foot_support.weights]
left_foot = { front_left = 0.8, front_right = 0.3, rear_left = 0.8, rear_right = 0.3 }
right_foot = { front_left = -0.8, front_right = -0.3, rear_left = -0.8, rear_right = -0.3 }
