[camera]
# This variable specifies how many images from the top camera can be alive at the same time.
# It is recommended to have at least one more buffer than is required. This way, the next frame
# from the camera can already be stored in a buffer, reducing the latency between destructing a
# `TopImage` and being able to fetch the newest `TopImage`.
num_top_buffers = 3
# This variable specifies how many images from the bottom camera can be alive at the same time.
# It is recommended to have at least one more buffer than is required. This way, the next frame
# from the camera can already be stored in a buffer, reducing the latency between destructing a
# `BottomImage` and being able to fetch the newest `BottomImage`.
num_bottom_buffers = 3

[filter.button]
# The threshold for a button to be considered pressed.
activation_threshold = 0.5
# The time (in ms) a button needs to be held down, in order to be considered held down.
held_duration_threshold = 500

[filter.fsr]
# Threshold for ground contact detection using average FSR sensor values from both feet.
ground_contact_threshold = 0.01

[primary_state]
# Time duration between chest blinks in ms.
chest_blink_interval = 1000

[game_controller]
game_controller_return_delay = 500
game_controller_timeout = 5000
player_number = 2
team_number = 8
fallen = false
pose = [0.0, 0.0, 0.0]
ball_age = -1.0
ball_position = [0.0, 0.0]
