[package]
description = "config for sindri"
name = "sindri_config"
version = "0.24.0"

authors.workspace = true
categories.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
build_utils = { workspace = true }

home = { workspace = true }
miette = { workspace = true, features = ["fancy"] }
serde = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = [
  "macros",
  "net",
  "process",
  "rt-multi-thread",
  "signal",
  "time",
] }
toml = { workspace = true }
