[package]
name = "re_control_comms"

authors.workspace = true
categories.workspace = true
edition.workspace = true
rust-version.workspace = true
version.workspace = true

[lints]
workspace = true

[lib]
crate-type = ["lib"]

[dependencies]
bifrost = { workspace = true }
heimdall = { workspace = true }

async-std = { workspace = true }
bevy = { workspace = true }
futures = { workspace = true }
miette = { workspace = true }
nalgebra = { workspace = true }
socket2 = { workspace = true }
tokio = { workspace = true, features = [
  "macros",
  "sync",
  "rt",
  "rt-multi-thread",
  "time",
] }
tracing = { workspace = true }
