name: check, test, lints and build
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  cicd:
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        run: sudo apt-get install -y -qq libasound2-dev libssl-dev libpulse-dev libdbus-1-dev portaudio19-dev 
      - name: Check out repository
        uses: actions/checkout@v3
      - name: bondi-ci
        uses: ./.github/workflows/bondi.yml