name: Continuous Disappointment
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  
jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    env:
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-ubuntu-deps/
      - name: Setup PAT for private repo access
        run: |
           git config --global url."https://${{ secrets.BONDI_TOKEN }}@github.com".insteadOf git@github.com
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test --all-targets --all-features

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: |
            ${{ secrets.BONDI_DEPLOY_KEY }}
            ${{ secrets.BIFROST_DEPLOY_KEY }}
      - uses: ./.github/actions/install-ubuntu-deps/
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy

      - run: cargo clippy --all-targets --all-features -- -D warnings

  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: |
            ${{ secrets.BONDI_DEPLOY_KEY }}
            ${{ secrets.BIFROST_DEPLOY_KEY }}
      - uses: ./.github/actions/install-ubuntu-deps/
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1
