name: Continuous Disappointment
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_NET_GIT_FETCH_WITH_CLI: true
  RUSTDOCFLAGS: -D warnings

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-github-pat/
        with:
          CI_TOKEN: ${{ secrets.CI_TOKEN }}
      - uses: ./.github/actions/install-ubuntu-deps/
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo test --all-targets --all-features

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-github-pat/
        with:
          CI_TOKEN: ${{ secrets.CI_TOKEN }}
      - uses: ./.github/actions/install-ubuntu-deps/
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
      - run: cargo clippy --all-targets --all-features

  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-github-pat/
        with:
          CI_TOKEN: ${{ secrets.CI_TOKEN }}
      - uses: ./.github/actions/install-ubuntu-deps/
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: rustfmt

      - name: Rustfmt Check
        uses: actions-rust-lang/rustfmt@v1

  doc:
    name: cargo doc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-github-pat/
        with:
          CI_TOKEN: ${{ secrets.CI_TOKEN }}
      - uses: ./.github/actions/install-ubuntu-deps/
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - run: cargo doc --all-features --no-deps